---
- name: Main playbook start...
  hosts: server
  become: true

  tasks:
    - name: Run some tasks from role common
      include_role:
        name: common
        tasks_from: "{{ item }}"
      loop:
        - apt_update_upgrade.yml

    - name: Run some tasks from role nginx
      include_role:
        name: nginx
        tasks_from: "{{ item }}"
      loop:
        - install.yml
        - run.yml

    - name: Run some tasks from role webserver
      include_role:
        name: webserver
        tasks_from: "{{ item }}"
      loop:
        - install_packages.yml
        - clone_repo.yml
        - run.yml
